.DS_Store
/frontend/node_modules
django-react
/backend/Procfile
/backend/*.log
/backend/*.pot
/backend/*.pyc
/backend/__pycache__
/backend/db.sqlite3
/backend/media


#backend
/backend/requirements.txt
/backend/backend/.env

#frontend
/frontend/.env.local
/frontend/.firebase/hosting.YnVpbGQ.cache
/frontend/.firebase/hosting.cHVibGlj.cache
/frontend/.firebaserc
/frontend/build/logo192.png
/frontend/build/logo512.png

