.DS_Store
/frontend/node_modules
django-react
/backend/*.log
/backend/*.pot
/backend/*.pyc
/backend/__pycache__
/backend/db.sqlite3
/backend/media


#backend
/backend/backend/.env

#frontend
/frontend/.env
/frontend/.firebase/hosting.YnVpbGQ.cache
/frontend/.firebase/hosting.cHVibGlj.cache
/frontend/.firebaserc

